body{
    background-color: rgb(255, 255, 255);
}
#logo{
    width: 10%;
    margin: 30px 35px;
    float: left;
}
a{
    text-decoration: none;
    color: rgb(128, 128, 128);
    margin:  90px; 
} 
ul{
    margin-top: 30px;
    width: 85%;
    overflow: hidden;
}
ul li{
    font-size: 20px;
    float: left;
}
#photo{
    width: 95%;
    margin: 50px;
}
h2{
    font-size: 20px;
    font-family: sans-serif;
    margin: 20px 45px;
    color: rgb(189, 183, 170);
}
h3{
    font-size: 40px;
    margin: 20px 45px;
    color: rgb(98, 98, 98);
}
p{
    font-size: 20px;
    margin: 20px 45px;
    color: rgb(98, 98, 98);
    line-height: 28px;
}
section{
    margin-top: 40px;
}
.lifestyle{
    width: 48%;
    float: left;
}
.pic{
    width: 90%;
    margin: 20px 45px;
}
#alps{
    width: 48%;
    float: right; 
}
#news{
    color: rgb(255, 255, 255);
}
#email{
    font-size: 20px;
    font-family: serif;
    margin: 150px 0px 0px 0px;
    border: none;
    background-color: transparent;
}
form{
    text-align: center;
    background-color: rgb(240, 240, 240);
    padding: 50px;
}
legend{
    font-size: 40px;
    color: rgb(98, 98, 98);
}
#sign_up{
    margin-top: 200px;
}
#button{
    background-image: url(../image/button.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    border: none;
}
button{
    font-size: 25px;
    font-family: serif;
    color: rgb(98, 98, 98);
    background-color: transparent;
    margin: 200px 650px;
    padding: 20px 40px;
}
footer{
    position: absolute;
    width: 100%;
    background-color: rgb(240, 240, 240);
    display: flex;
}
#footer_p{
    width: 40%;
    padding: 50px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
#follow{
    width: 5%;
    font-weight: bold;
    color: rgb(0, 0, 0);
    float: left;
    padding: 50px;
}
div.social a{ 
    padding: 50px 10px;
    float: left;
    margin: 10px;
}
.social{
    width: 20%;
    height: 20px;
    float: right;
}

  
